<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://www.googletagmanager.com">


  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}"/>
  <meta property="og:image" content="{{ page.ogimage | prepend: site.url }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  {% if page.url == '/' %}
    <link rel="amphtml" href="{{ page.url | prepend: site.canonical_baseurl | prepend: site.url | append: 'index.html' }}" />
  {% else %}
    <link rel="amphtml" href="{{ page.url | prepend: site.canonical_baseurl | prepend: site.url }}" />
  {% endif %}

  <title>{% if page.title %}{{ page.title | append: ' | ' | append: site.title | escape }}{% else %}{{ site.title | append: ' | ' | append: site.description | escape }}{% endif %}</title>

  {% capture styles %}
  {% include main.scss %}
  {% endcapture %}
  <style>{{ styles | scssify | strip }}</style>

  <link rel="canonical" href="">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92772847-1"></script>
  <script src="/assets/perfume.js"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      window.gtag = function(){dataLayer.push(arguments);}
      window.gtag('js', new Date());

      window.gtag('config', 'UA-92772847-1');

      if (typeof window.onerror === "object")
      {
          window.onerror = function (err, url, line)
          {
              window.gtag('event', 'exception', {
                  'description': line + ': ' + err
              });
          };
      }

      var perfume = new Perfume({
          firstPaint: true,
          firstContentfulPaint: true,
          firstInputDelay: true,
          timeToInteractive: true,
          logging: true,
          analyticsTracker: function(metricName, duration) {
              window.gtag('event', 'timing_complete', {
                  'name': metricName,
                  'value': duration,
                  'event_category': 'perfume'
              });
          }
      })
  </script>

</head>
