<!doctype html>
<html amp lang="en">

  {% include amp-head.html %}

<body>

<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/index.html">
      <div class="my-face">
      <a href="/">
        <amp-img width="140" height="140" itemprop="image thumbnailUrl" alt="John Nolan as The Rock" src="/assets/me.jpg"/>
      </a>
    </div>
    </a>
    <div class="twitter">
      <a href="https://twitter.com/jboverflow">
        <img src="/assets/twitter.svg" alt="twitter" />
        @jboverflow
      </a>
    </div>
  </div>
</header>

<div class="wrapper">
  {{ content }}
</div>

{% include amp-footer.html %}

</body>
</html>
